* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Manrope', sans-serif;
    color: #121212;   
}

/* ===== ESTILO ===== */
h1 {
    font-size: 92px;
    font-weight: 800;
    letter-spacing: -0.02em;
    line-height: 1.2em;
}

h2 {
    font-size: 56px;
    font-weight: 400;
    letter-spacing: -0,5px;
    color: #121212;
}

h3 {
    font-size: 44px;
    font-weight: 500;
    letter-spacing: -0,5px;
}

h4 {
    font-size: 32px;
    font-weight: 500;
    letter-spacing: -0,5px;
}

p {
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: -0.02em;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 120px 0;
}

main {
    display: flex;
    flex-direction: column;
    width: 95%;
}

/* ===== HOMEPAGE ===== */

/* ===== NAVBAR ===== */

nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
}

nav main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

nav img {
    height: 28px;
}

nav ul{
    display: flex;
    gap: 40px;
    list-style: none;
}

nav ul a{
    color: #121212;
    text-decoration: none;
}

/* ===== HERO ===== */

.hero_section{
    height: 100vh;
    position: relative;
}

.hero_section main{
    gap: 40px;
}

.hero_section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero_section main h1 span{
    color: #FF8800;
}

/* ===== PROJECTS ===== */

.projects_section main{
    gap: 80px;
}
.projects_list{
    width: 100%;
    list-style: none;
}

.projects_list li a{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    gap: 80px;
    text-decoration: none;
    padding: 24px 0;
    border-top: 1px dashed #cecece;
    position: relative;
    transition: all 0.5s ease;
}

.projects_list li a:hover{
    background-color: rgba(0, 0, 0, .1);
}


.projects_list .img_container{
    position: absolute;
    z-index: 999;
    top: 50%;
    right: 5%;
    transform-origin: center;
    transform: translate(0%, -50%) scale(0.8);
    height: 500px;
    width: 500px;
    opacity: 0;
    transition: all 0.5s ease;
}

.projects_list li a:hover .img_container{
    opacity: 1;
    transform: translate(0%, -50%) scale(1);
}

.projects_list .img_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* ===== FOOTER ===== */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 120px 0;
}

.footer-content{
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width: 1208px;
    margin: 0 auto;
}

.footer-links {
    display: flex;
    gap: 24px;
    margin: 24px 0;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-links a {
    text-decoration: none;
    color: #121212;
}

.footer-links a:hover {
    color: #cecece;
}

.legal-links {
    display: relative;
    gap: 24px;
    margin-top: 32px;
    justify-content: center;
}

.legal-links a {
    font-size: 14px;
    color: #777;
    text-decoration: none;
}

/* ===== RESPONSIVE ADJUSTMENTS ===== */
/*@media (max-width: 768px) {
    body {
        padding: 30px;
    }
    
    nav {
        flex-direction: column;
        gap: 20px;
        margin-bottom: 40px;
    }
    
    .nav-links {
        gap: 20px;
    }
    
    h1 {
        font-size: 36px;
    }
    
    h2 {
        font-size: 24px;
    }
    
    .divider {
        margin: 40px 0;
    }
}/*

figure 
{
    width: 45%;
    float: left;
    margin-top: auto;
    margin-bottom: auto;
}