* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Manrope', sans-serif; /*tipo de letra a ser usado*/
    color: #121212; /* cor do texto*/
    cursor: none; /* Tiro o cursor default para usar o que foi feito em P5.js*/
    background-color: white;
    overflow: hidden; 
}

/* Cursor */
#meu_cursor, #meu_cursor_delay {
    pointer-events: none; /*  */
    z-index: 10000; /* Garante que o cursor esteja visivel e por cima de tudo */
    mix-blend-mode: difference; /* Por o blendmode em difference adicionar branco */
}

/* Circulo pequeno */
#meu_cursor {
    width: 15px; /* largura do cursor */
    height: 15px; /* altura do cursor*/
    background-color: white; /* Cor do cursor principal */
    z-index: 10001; /* acima do cursor delay */
}

/* Circulo grande */
#meu_cursor_delay {
    width: 60px; /* largura da bola grande (ajuste se quiser) */
    height: 60px; /* altura da bola grande */
    background-color: white; /* Cor do background do cursor */
    z-index: 99998; /* Atrás do cursor pequeno */
}


/* Estilos */
h1 {
    font-size: 5.75rem;
    font-weight: 800;
    letter-spacing: -0.02em;
    color: #121212;
}

h2 {
    font-size: 4.25rem;
    font-weight: 500;
    letter-spacing: -0.02rem;
    color: #121212;
}

h3 {
    font-size: 3.25rem;
    font-weight: 500;
    letter-spacing: -0.02rem;
    color:#121212;
}

h4 {
    font-size: 2.25rem;
    font-weight: 500;
    letter-spacing: -0.02rem;
}

h5 {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: -0.02rem;
}

h6 {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: -0.02rem;
}

h7 {
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: -0.02rem;
}
p {
    font-size: 1.25rem;
    line-height: 1.6em;
    letter-spacing: -0.02em;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5rem 0;
}

main {
    display: flex;
    flex-direction: column;
    width: 90%;
}

/* ===== HOMEPAGE ===== */

/* ===== NAVBAR ===== */

.logo {
    display: flex;
    align-items: center;
    font-family: 'Manrope', sans-serif;
    font-size: 1.05rem;
    font-weight: 200;
    text-decoration: none;
    color: black;
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
}

nav main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}

nav img {
    height: 1.75rem;
}

nav ul{
    display: flex;
    gap: 2.5rem;
    list-style: none;
}

nav ul a{
    color: black;
    text-decoration: none;
    font-weight: 200;
    font-size: 1.05rem;
}

/* ===== HERO ===== */

.hero_section{
    height: 100vh;
    position: relative;
    background-color: white;
}

.hero_section main{
    gap: 2.5rem;
}

/* imagem de fundo para a hero (não implementei)*/
.hero_section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero_section main h1 span{
    color: black;
}
/* ===== My Focus ===== */
.focus_section{
    display:flex;
    align-items: center;
    justify-content: start;
    width:100%;
    gap: 5rem;
    text-decoration: none;
    position: relative;
    padding: 5rem 0;
    border-top: 1px dashed #cecece;
    border-bottom: 1px dashed #cecece;

}

.focus_section{
    margin-top: 5rem;
}

/* ===== Archive/Projects ===== */

.projects_section main{
    gap: 5rem;
}
.projects_list{
    width: 100%;
    list-style: none;
}

.projects_list li a{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    gap: 5rem;
    text-decoration: none;
    padding: 1.5rem 0;
    border-top: 1px dashed #cecece;
    position: relative;
    transition: all 0.5s ease;
    cursor: none; /* mantem o cursor escondido */
}

.projects_list li a:hover{
    background-color: rgba(0, 0, 0, .1);
}

/* hover de cada projeto em cada elemento da lista */
.projects_list .img_container{
    position: absolute;
    z-index: 999;
    top: 50%;
    right: 5%;
    transform-origin: center;
    transform: translate(0%, -50%) scale(0.8);
    height: 28rem;
    width: 28rem;
    opacity: 0;
    transition: all 0.5s ease;
}

.projects_list li a:hover .img_container{
    opacity: 1;
    transform: translate(0%, -50%) scale(1);
}

.projects_list .img_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* ===== Pagina individual dos projetos ===*/
.project_hero {
    background-color: white;
    padding-top: 8rem; 
    padding-bottom: 2rem;
}

.project_hero main {
    gap: 2.5rem;
    display: flex;
    flex-direction: column;
}

.project_hero h1 {
    max-width: 60rem;
    margin-bottom: 0.5rem;
}

.project_hero p {
    max-width: 50rem;
    margin-bottom: 1rem;
}

.project_hero figure {
    width: 100%;
    margin-bottom: 2rem;
}

.project_hero .full-width-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.5rem;
}

/* Gallery */

.project_gallery {
    padding: 0;
}

.project_gallery main {
    width: 90%;
}

.project_full_image {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    list-style: none;
    padding-left: 0;
    margin: 0; /* Espaçamento acima e embaixo */
}

.project_full_image img {
    width: 100%;
    height: auto;
    object-fit: cover; /* ajuste da image ao container */
    border-radius: 0.5rem; /* Borda arredondada da img */
}

.project_full_image li {
    list-style: none;
}

.project_full_image video {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.5rem;
}


/* Footer*/

footer {
    background-color: white;
    color: black; 
    padding: 4rem 0;
    text-align: center;
}

footer main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}

/* Footer Top Section */
footer .footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

footer .footer-top p {
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: black;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

footer .footer-top h3 {
    font-weight: 800;
    line-height: 1.2;
    margin: 0;
}

footer .footer-top h3 span {
    font-style: italic;
    font-weight: 400;
    color: black; /* Highlight color */
}

footer .footer-top .footer-email {
    display: inline-block;
    font-size: 1.25rem;
    font-weight: 500;
    color: black;
    text-decoration: none;
    border: 2px solid black;
    padding: 0.75rem 2rem;
    border-radius: 50px;
    transition: all 0.3s ease;
}

footer .footer-top .footer-email:hover {
    background-color: black;
    color: white;
}

/* Footer Bottom Section */
footer .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    border-top: 1px dashed black;
    padding-top: 2rem;
    width: 100%;
}

footer .footer-location-time {
    display: flex;
    gap: 1rem;
    font-size: 1rem;
    font-weight: 400;
    color:black;
}

footer .footer-links {
    display: flex;
    gap: 2rem;
}

footer .footer-links a {
    font-size: 1rem;
    font-weight: 500;
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}
 /* Archive Page */
.archive_sub {
    padding: 6rem 0 4rem 0; /* mais espaço em cima e em baixo */
    display: flex;
    justify-content: left;
    align-items: flex-start;
    background-color: white;
}

/* About Page */

.about_section main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 1.5rem;
    row-gap: 5rem;
    width: 90%;
    margin: 8rem auto 5rem auto;
}

.about_section h3 {
    grid-column: span 2;
}

.about_section > main > p:first-of-type {
    grid-column: 4 / 16;
    line-height: 1.6em;
}

.about-details {
    grid-column: 4 / 16;
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

.about_section h2 {
    grid-column: 4 / 16;
    letter-spacing: 0.02em;
}

.about_section img {
    grid-column: 4 / 16;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.about_section > main > p:last-of-type {
    grid-column: 4 / 16;
    line-height: 1.5em;
}

.about-details a {
    text-decoration: none;
    color: #121212;
}

.about_section h4 {
    grid-column: 4 / 16;
    font-weight: 600;
    text-align: left;
} 

.download-btn {
    display: inline-block;
    grid-column: 4/16;
    justify-self: start;
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
    letter-spacing: 0.05rem;
    background-color: white;
    padding: 1rem 2.5rem;
    border-radius: 1.5rem;
    text-decoration: none;
    margin-top: 2rem;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.download-btn:hover {
    background-color: #23c483;
    box-shadow: 0 12px 24px rgba(35, 196, 131, 0.4);
    color: white;
    transform: translateY(-4px);
}

.download-btn:active{
    transform: translateY(0);
}

@media (min-width: 768px) and (max-width: 1024px) {
    /* Geral */
    main {
        width: 90%;
    }

    section {
        padding: 5rem 0;
    }

    .logo {
        font-size: 1.05rem;
    }

    /* Navbar */
    nav main {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1.75rem 0;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        width: auto;
        gap: 2rem;
    }

    nav ul a {
        font-size: 1.05rem;
    }
    /* Títulos e Parágrafos (Gerais) */
    h1 {
        font-size: 4.75rem;
        text-align: left;
        line-height: 1.2;
    }
    h2 {
        font-size: 3rem;
        text-align: left;
    }
    /* h3 geral para tablet (se não for sobrescrito por regras mais específicas) */
    h3 {
        font-size: 2.75rem;
        text-align: left;
    }
    p {
        font-size: 2rem;
        text-align: left;
    }

    /*pagina Archive*/
    .archive_sub {
        width: 90%;
        padding: 6rem 0 1rem 0;
    }

    .archive_sub h1 {
        text-align: left;
    }

    .projects_section {
        width: 100%;
    }

    .projects_section main {
        width: 90%;
        padding: 0;
        gap: 2.5rem;
    }

    .projects_list li {
        position: relative;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        flex-direction: column;
        align-items: start;
    }

    .projects_list li a h3:first-of-type {
        display: none;
    }

    .projects_list li a {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    
        
    }
    .projects_list h3 {
        order: 2;
    }
      
    
    .projects_list .img_container {
        position: static;
        transform: none;
        opacity: 1;
        order: 1;
        height: auto;
        width: 100%;
        transform: none;
    }
    
    .projects_list li a:hover .img_container {
        opacity: 1;
        transform: none;
    }

    .img_container {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* Project Hero (página individual de projeto) */
    .project_hero {
        width: 100%;
    }

    .project_hero main {
        display: flex;
        width: 90%;
        padding: 0;
        align-items: flex-start;
        flex-direction: column;
        text-align: left;
    }

    .project_hero figure {
        width: auto;
        display: flex;
    }

    .project_hero h1 {
        font-size: 3.5rem;
    }

    .project_hero p {
        font-size: 1rem;
        max-width: 100%;
    }

    .project_gallery {
        width: 100%;
        padding: 0;
    };

    .project_gallery main{
        width: 90%;
    }

    .project_full_image figure {
        width: auto;
        display: flex;
    }
    
    /* Footer */

    .footer-top {
        gap: 1rem;
        align-items: center;
    }

    .footer-top p {
        font-size: 0.9rem;
    }

    .footer-top h3 {
        font-size: 2.8rem;
        text-align: center;
    }

    .footer-top .footer-email {
        font-size: 1rem;
        padding: 0.7rem 1.8rem;
    }

    .footer-bottom {
        flex-direction: row;
        justify-content: space-between;
        gap: 1.5rem;
        padding-top: 1.5rem;
    }

    .footer-location-time,
    .footer-links {
        flex-direction: row;
        gap: 0.8rem;
        font-size: 0.9rem;
    }

    /*homepage*/

    .hero_section main {
        height: auto;
        gap: 2rem;
    }

    .about_section main {
        display: flex;
        flex-direction: column;
        margin: 4rem auto;
        width: 90%;
        padding: 6rem 0 1rem 0;
      }
    
      .about_section h3,
      .about_section > main > p:first-of-type,
      .about_section h2,
      .about_section img,
      .about_section > main > p:last-of-type,
      .about_section h4, {
        width: 100%;
      }
    
      .about-details {
        display: flex;
        flex-direction: row;  /* lado a lado */
        gap: 2rem;
        justify-content: flex-start;
      }
    
      /* Ajuste pra colunas dentro do about-details */
      .about-details > div {
        flex: 1;
      }
    
      .about-section img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    
      .download-btn {
        align-self: flex-start;
        padding: 2rem 4rem;
        font-size: 1.25rem;
        font-weight: 600;
        border-radius: 1.5rem;
        grid-column: 2/-2;
        justify-content: start;
      }
}

/* ========================================= */
/* --- 2. Mobile Breakpoint (até 767px) --- */
/* ========================================= */
@media (max-width: 767px) {
        /* Geral */
        main {
            width: 90%;
        }
    
        section {
            padding: 5rem 0;
        }
    
        .logo {
            font-size: 1.05rem;
        }
    
        /* Navbar */
        nav main {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 1.75rem 0;
        }
    
        nav ul {
            display: flex;
            flex-direction: row;
            width: auto;
            gap: 2rem;
        }
    
        nav ul a {
            font-size: 1.05rem;
        }
        /* Títulos e Parágrafos (Gerais) */
        h1 {
            font-size: 4rem;
            text-align: left;
            line-height: 1.2;
        }
        h2 {
            font-size: 2.75rem;
            text-align: left;
        }
        /* h3 geral para tablet (se não for sobrescrito por regras mais específicas) */
        h3 {
            font-size: 2.5rem;
            text-align: left;
        }

        h6 {
            font-size: 1.5rem;
        }

        p {
            font-size: 1.75rem;
            text-align: left;
        }
    
        /*pagina Archive*/
        .archive_sub {
            width: 90%;
            padding: 6rem 0 1rem 0;
        }
    
        .archive_sub h1 {
            text-align: left;
        }
    
        .projects_section {
            width: 100%;
        }
    
        .projects_section main {
            width: 90%;
            padding: 0;
            gap: 2.5rem;
        }
    
        .projects_list li {
            position: relative;
            width: 100%;
            justify-content: center;
            align-items: center;
            padding: 0;
            margin: 0;
            flex-direction: column;
            align-items: start;
        }
    
        .projects_list li a h3:first-of-type {
            display: none;
        }
    
        .projects_list li a {
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;
        
            
        }
        .projects_list h3 {
            order: 2;
        }
          
        
        .projects_list .img_container {
            position: static;
            transform: none;
            opacity: 1;
            order: 1;
            height: auto;
            width: 100%;
            transform: none;
        }
        
        .projects_list li a:hover .img_container {
            opacity: 1;
            transform: none;
        }
    
        .img_container {
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    
        /* Project Hero (página individual de projeto) */
        .project_hero {
            width: 100%;
        }
    
        .project_hero main {
            display: flex;
            width: 90%;
            padding: 0;
            align-items: flex-start;
            flex-direction: column;
            text-align: left;
        }
    
        .project_hero figure {
            width: auto;
            display: flex;
        }
    
        .project_hero h1 {
            font-size: 3.5rem;
        }
    
        .project_hero p {
            font-size: 1rem;
            max-width: 100%;
        }
    
        .project_gallery {
            width: 100%;
            padding: 0;
        };
    
        .project_gallery main{
            width: 90%;
        }
    
        .project_full_image figure {
            width: auto;
            display: flex;
        }
        
        /* Footer */
    
        .footer-top {
            gap: 1rem;
            align-items: center;
        }
    
        .footer-top p {
            font-size: 0.9rem;
        }
    
        .footer-top h3 {
            font-size: 2.8rem;
            text-align: center;
        }
    
        .footer-top .footer-email {
            font-size: 1rem;
            padding: 0.7rem 1.8rem;
        }
    
        .footer-bottom {
            flex-direction: row;
            justify-content: space-between;
            gap: 1.5rem;
            padding-top: 1.5rem;
        }
    
        .footer-location-time,
        .footer-links {
            flex-direction: row;
            gap: 0.8rem;
            font-size: 0.9rem;
        }
    
        /*homepage*/
    
        .hero_section main {
            height: auto;
            gap: 2rem;
        }

        .about_section main {
            display: flex;
            flex-direction: column;
            margin: 2rem auto;
            width: 90%;
            padding: 5rem 0 1rem 0;
          }
        
          .about_section h3,
          .about_section > main > p:first-of-type,
          .about_section h2,
          .about_section img,
          .about_section > main > p:last-of-type,
          .about_section h4, {
            width: 100%;
          }
        
          .about-details {
            display: flex;
            flex-direction: row;  /* lado a lado */
            gap: 2rem;
            justify-content: flex-start;
          }
        
          /* Ajuste pra colunas dentro do about-details */
          .about-details > div {
            flex: 1;
          }
        
          .about-section img {
            width: 100%;
            height: auto;
            object-fit: cover;
          }
        
          .download-btn {
            display: block;
            align-self: flex-start;
            padding: 1rem 1.5rem;
            width: 100%;
            justify-content: center;
            font-size: 1rem;
            text-align: center;
            border-radius: 1.5rem;
          }
}